<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">

        </div>

        <div class="col-md-2">
          <h4 class="bold">IMOSB</h4>
          <ul class="list-unstyled">
            <li><%= link_to 'Quem Somos', '' %></li>
            <li><%= link_to 'Fale Conosco', '' %></li>
            <li><%= link_to 'Assessoria de Imprensa', '' %></li>
            <li><%= link_to 'Termos e Condições', '' %></li>
            <li><%= link_to 'Trabalhe conosco', '' %></li>
            <li><%= link_to 'Seja um corretor associado', '' %></li>
            <li><%= link_to 'Relação com investidores', '' %></li>
            <li><%= link_to 'Conheça seu bairro', '' %></li>
            <li><%= link_to 'Construtoras e incorporadoras', '' %></li>
            <li><%= link_to 'Relatório de igualdade salarial', '' %></li>
          </ul>
        </div>

        <div class="col-md-2">
          <h4 class="bold">Serviços</h4>
          <ul class="list-unstyled">
            <li><%= link_to 'Venda seu imóvel', '' %></li>
            <li><%= link_to 'Alugue seu imóvel', '' %></li>
          </ul>
        </div>

        <div class="col-md-2">
          <h4 class="bold">Redes Sociais</h4>
          <ul class="list-unstyled">
            <li>
              <%= link_to '' do %>
                <i class="fa-brands fa-square-facebook"></i>
                Facebook
              <% end %>
            </li>
            <li>
              <%= link_to '' do %>
                <i class="fa-brands fa-twitter"></i>
                Twitter
              <% end %>
            </li>
            <li>
              <%= link_to '' do %>
                <i class="fa-brands fa-instagram"></i>
                Instagram
              <% end %>
            </li>
            <li>
              <%= link_to '' do %>
                <i class="fa-brands fa-linkedin-in"></i>  
                Linkedin
              <% end %>
            </li>
            <li>
              <%= link_to '' do %>
                <i class="fa-brands fa-youtube"></i>
                Youtube
              <% end %>
            </li>
            <li>
              <%= link_to '' do %>
                <i class="fa-solid fa-heart"></i>
                Blog
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>